<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Box</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body  style="overflow: hidden;">
    
  <!-- navbar start -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a style="color: blue;" class="navbar-brand" href="#">Alert Box</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a style="color: blue;" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>

  <!-- navbar end -->
  <!-- card start  -->
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3 offset-md-2 col-md-8">
            <div class="card" width="500px">
                <img src="./images/alert.jpg" class="card-img-top" alt="..." height="200px">
                <div class="card-body">
                  <h3 class="card-title text-center" style="color: blue;">Alert box</h3>
               <p class="card-text">The project is  ALERT BOX  for our college . As in our campus only we used to see many disputes like ragging , students fighting,etc .
                    Alert box is used to send information regarding these disputes to the corresponding management... within fraction of sec's , so that they can take the action .
Also If student having any health problems (suddenly) they can send  information to some people  like warden (for hostlers) and to their proctor,so that they can take immediate action.
for this all what we have to do is just  click on the corresponding problem .It will give alert to managemant .
Here we provide list of some people to whom the students can send the information and the students have to enter their location in  location s box.
Even some students cannot express their problems infront of faculty/management,in such situations they can simply send their complaints to the respective persons.
</p>
                  <a href="/login" class="btn btn-primary">login</a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- card end  -->

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>